<h2>Get to Know Joel</h2>

<a href="https://www.qwcomedy.com/" target="_blank">Quick Wits Comedy</a><br>
<a href="https://baconsale.com/" target="_blank">Baconsale</a><br>

<a href="https://baconsale.com/" target="_blank">
    <img src="https://public.boxcloud.com/api/2.0/internal_files/1439606248084/versions/1578785044521/representations/jpg_paged_2048x2048/content/1.jpg?access_token=1!JmrEasSMde4Pd6w7NZVIQeLNFV_201TLLwR2QfH98_5NJzMdD6HsssYvpzxYS6atwwkoK_MVuurSvRFHXzKOGomoVly7fFX8HB5LFoJuB6g3XXR7IZQzqqn3GrT1LNZfrCv61qxzYvq06YVcVXQIw1nf6mrvw6s7l3GgVtV1HXjjqVWuEsz9MU64PuRta_ibHqGEcsJPpc4FzivlK5voIeaZYfXxcpDX0SVrFWt3GjyqFym79Vx0A7t_mB_eqAZo3GFpZaNEKWirr9C4ObQbR43o8dDrZ5fj0SD9_WrEAA7eTpV6x_ezUYieTGeI17bDA7VggwSmFeIbLMCM4IfhcvAdpx2cMBgGLDT4MNPBXHSumGhPE5vf2QJtpZAMkkvYyNxUftr1XhVvuLG39Nn4FOtyKDvp1kMzlBpaw59sc9qSSVf0hytGSpxwTIjwCOJMyXinFyqlALwIvjrVHsHNI6KSlfiBVyIF2NumeqVPsnc7C0x_RSECb8BFAX96y2dZm0Pcy59IbaOhL7sZKe5jwBM_NQLPuFcRDSHcCmGTnvLizQDw46xnLMoAdYGM4FuJNfh_-Ch3ZC3txqftfgMF8XuuUNL6i39SWHiKEfW5&shared_link=https%3A%2F%2Fbyu.app.box.com%2Fs%2Fie6ibeddqm0f6oudp7bc5dyt87zxi2u4&box_client_name=box-content-preview&box_client_version=3.0.0" alt="Baconsale">
</a>